# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/
.ruff_cache/
.coverage

# Node
node_modules/
.next/
out/
dist/

# Env
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# OS
.DS_Store
